* {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}


/* HEADERS STYLES START */

.header-navigation {
    margin-top: 30px;
    width: 100%;
}

.navbar {
    background-color: #ffffff !important;
}

.navbar-nav {
    display: flex;
    width: 100% !important;
    justify-content: space-between !important;
}

.navbar-content {
    width: 100%;
}

.navbar-logo {
    margin-right: 260px;
    font-size: 26px;
    font-weight: bold;
}

.navbar-logo span {
    color: #e24545;
}

.navbar-sublogo:first-letter {
    text-decoration: overline;
    text-decoration-color: #e24545;
}

.navbar-sublogo {
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 400;
}

#navbarDopdown2,
.dropdown-toggle::after {
    display: none;
}

.logo-wrapper {
    line-height: 15px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.chosen {
    color: #e24545 !important;
}

.chosen:first-letter {
    text-decoration: underline;
    text-decoration-color: #e24545;
}

.shopping-cart {
    min-width: 135px;
    min-height: 40px;
    border: solid 2px #000;
    display: flex;
    align-items: center;
    position: relative;
}

.shopping-cart p {
    margin: 0;
}

.circle {
    position: absolute;
    bottom: 17%;
    left: 90%;
    background: #000;
    border: 0.1875em solid #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: #fff;
    text-align: center;
    font-size: 13px;
}


/* HEADER STYLES END */


/* FOOTER STYLES START */

footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dddddd;
}

.first-lvl {
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.footer-content {
    color: #444444;
    font-size: 14px;
    font-weight: bold;
}

.email-input::placeholder {
    font-size: 8px;
    font-weight: bold;
}

.social-btn {
    color: #999999;
    border: 1px solid #999999;
    border-radius: 0;
}

.social-btn:hover {
    background-color: #e24545;
    color: #fff;
    border-color: #e24545;
}

.payment img {
    width: 45px;
    height: 25px;
}

.second-lvl-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e6e6e6;
}

.copyright {
    font-size: 11px;
    font-weight: bolder;
    color: #888888;
}

.copyright span {
    color: #444444;
}


/* FOOTER STYLES END */


/* PAGE HEADER START */

.page-header-wrapper {
    background-image: url("../../static/wish-list.png");
}

.page-header .col {
    min-height: 155px;
}

.page-header:first-child {
    color: #222222;
    font-size: 26px;
    font-weight: bold;
}

.breadcrumb-item {
    font-size: 12px;
    font-weight: bolder;
}

.breadcrumb-item a {
    color: #222222;
    text-decoration: none;
}


/* PAGE HEADER END */


/* CLEAR LIST START */

.clear-list-container {
    min-height: 130px;
}

.clear-btn {
    border: 1px solid #444444;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}


/* CLEAR LIST END */


/* CARD START */

.carousel {
    min-height: 340px;
    text-align: center;
}

.card {
    margin-top: 50px;
}

.card-text {
    font-size: 14px;
}

.card-image {
    display: block;
    width: 100%;
}

.item-photo {
    position: relative;
}

.item-control {
    padding-top: 15px;
    position: relative;
}

.item-control:hover .item-remove-window {
    width: 100%;
    color: #fff;
}

.item-remove-window {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
}

.item-remove-button {
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    width: 165px;
    height: 40px;
    border: #fff 1px solid;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}


/* CARD END */


/* PAGINATION START */

.pagination-wrapper {
    margin-top: 80px;
}

.cards-navigation {
    width: 10vw;
}

#carousel-indicators {
    position: relative;
}

#carousel-indicators {
    margin: 80px 0 110px 0;
}

#carousel-indicators button {
    height: 30px;
    color: #888888;
    border: 1px solid #dddd;
    border-radius: 0;
    text-indent: 0;
    opacity: 1;
}

#carousel-indicators .active {
    color: #e24545;
    border-color: #444444 !important;
}


/* PAGINATION END */


/* SLIDER START */

.slide>i {
    font-size: 2rem;
    margin-right: 15px;
}

.slider-wrapper {
    position: relative;
    padding-right: 45px;
    padding-left: 45px;
    border: 2px solid #000;
    width: 1100px;
    height: 150px;
    overflow: hidden;
    z-index: -1;
}

.slider-top {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 5px;
    width: 1080px;
    background-color: #fff;
}

.slide {
    margin: 10px;
}

.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    animation: sliderAnimate 45s infinite ease;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    width: 1600px;
    height: 400px;
    clear: both;
    position: relative;
}

@keyframes sliderAnimate {
    0% {
        left: 0;
    }
    10% {
        left: -24%;
    }
    20% {
        left: -50%;
    }
    30% {
        left: -24%;
    }
    40% {
        left: 0%;
    }
    50% {
        left: -24%;
    }
    60% {
        left: -50%;
    }
    70% {
        left: -24%;
    }
    80% {
        left: 0%;
    }
    90% {
        left: -24%;
    }
    100% {
        left: -50%;
    }
}


/* SLIDER END */

.hide {
    display: none;
}